<%= javascript_include_tag 'search/search_function', 'data-turbo-track': 'reload', defer: true %>
<%= stylesheet_link_tag "search_bar", "data-turbo-track": "reload" %>

<%= link_to "Go to your games", owned_games_list_path, class: "go-to-games-link btn btn-primary position-absolute", data: { turbo: "false" } %>

<% if session[:user_id] %>
  <p>Welcome, <%= @user.persona_name %>!</p>
  <%= link_to "Logout", logout_path, class: "btn btn-primary", data: { turbo_method: :delete } %>
<% else %>
  <%= link_to "Sign in with Steam", "#", class: "steam-login-button btn btn-primary", rel: "noopener noreferrer" %>
<% end %>

<div class="search-page-container d-flex align-items-center flex-column">
  <h1>Steam Games Manager</h1>
  <h5>Manage and track your Steam games, and set solid goals for games to play that you have never touched!</h3>

  <div class="search-container d-flex justify-content-center">
    <form action="/add" method="POST" id="search-form">
      <div id="search-div">
        <div class="radio-button-container d-flex justify-content-center">
          <label for="radio-games" class="search-radio-labels">
            <input type="radio" id="radio-games" name="search-type" value="game" checked="checked" class="search-radios">
            Games
          </label>
          <label for="radio-dlcs" class="search-radio-labels">
            <input type="radio" id="radio-dlcs" name="search-type" value="dlc" class="search-radios">
            DLCs
          </label>
        </div>
        <div class="search-input-submit-container d-flex">
          <input type="text" id="search-input" name="name" placeholder="Search for a game on Steam to add to your library" spellcheck="false" class="form-control me-2">
          <input type="submit" class="submit-button btn btn-primary">
        </div>
        <p class="response-text response-text-opacity-zero"></p>
        <div id="search-dropdown" class="mt-1"></div>
      </div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
  </div>
</div>
