<%= javascript_include_tag 'playlist/refresh_playlists', 'data-turbo-track': 'reload', defer: true, type: 'module' %>
<%= javascript_include_tag 'playlist/delete_playlist', 'data-turbo-track': 'reload', defer: true, type: 'module' %>
<%= javascript_include_tag 'playlist/create_playlist', 'data-turbo-track': 'reload', defer: true, type: 'module' %>
<%= javascript_include_tag 'playlist/add_games_to_playlist', 'data-turbo-track': 'reload', defer: true, type: 'module' %>
<%= javascript_include_tag 'playlist/remove_games_from_playlist', 'data-turbo-track': 'reload', defer: true, type: 'module' %>
<%= javascript_include_tag 'playlist/select_playlist', 'data-turbo-track': 'reload', defer: true, type: 'module' %>
<%= javascript_include_tag 'playlist/update_playlist_games_count', 'data-turbo-track': 'reload', defer: true, type: 'module' %>

<%= stylesheet_link_tag "playlist_form", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "playlist_body", "data-turbo-track": "reload" %>

<div class="playlist-header">
  <div class="header-relative-container position-relative">
    <div class="d-flex flex-column align-items-center">
      <div class="col-3 mt-3 d-flex justify-content-center">
        <%= link_to "Add a game", add_games_path, class: "btn btn-primary col-5", data: { turbo: "false" } %>
        <%= link_to "Go to your games", owned_games_path, class: "btn btn-primary col-5 ms-2", data: { turbo: "false" } %>
      </div>
    </div>
    <div class="playlist-buttons-container d-flex justify-content-center mb-2 mt-2">
      <button class="create-playlist-button btn btn-primary">Create a playlist</button>
    </div>
  </div>
</div>

<div class="playlist-section-headers-container d-flex col-12 row align-items-center">
  <div class="my-playlists-header playlist-section-headers text-center col-4 d-flex align-items-center justify-content-center">
    <p class="">My playlists</p>
  </div>
  <div class="playlist-games-header playlist-section-headers text-center col-4 d-flex align-items-center justify-content-center">
    <p>Games in this playlist</p>
  </div>
  <div class="add-games-header playlist-section-headers d-flex align-items-center justify-content-center col-4">
    <p class="text-center">Add games to this playlist</p>
    <div class="search-bar-container d-flex ms-4 justify-content-end align-items-center">
      <input type="text" class="add-games-search-bar search-bar form-control me-2 pt-0 pb-0" placeholder="Search games" spellcheck="false">
      <button class="add-games-clear-search-button clear-search-button clear-filter-button pt-0 pb-0">Clear search</button>
    </div>
  </div>
</div>

<div class="main-playlist-body-container d-flex align-items-center flex-column position-relative">
  <div class="playlist-body-container row col-12">

    <%# Playlists %>
    <div class="col-4 playlist-sections">

      <ul class="playlist-content-containers playlist-list col-12 row p-0">
        <% @playlists.each_with_index do |playlist, index| %>
          <li class="playlist-items col-12 <%= index == 0 ? "selected-playlist" : "" %> d-flex align-items-center justify-content-between" data-playlist-id="<%= playlist[:id] %>">
            <p class="playlist-name-container pe-2"><span class="playlist-name"><%= playlist[:name] %></span>&nbsp;<span class="games-count text-primary">(<%= @games_count[index] %>)</span></p>
            <div class="playlist-stats-container ms-auto me-5">
              <div class="stats-bar playlist-stats-bar d-flex flex-column justify-content-center align-items-end" data-rates="<%= @rates.to_json %>" data-count="<%= @count.to_json %>">
                <% @progress_type.each do |progress_type| %>
                  <div class="stats-text-container d-flex flex-row justify-content-between">
                    <p>Games <%= progress_type %>:</p>
                    <p><strong class="<%= progress_type %>-percentage"><%= @playlists_stats[index][progress_type.to_sym] %>%</strong></p>
                  </div>
                  <div class="rate-bar position-relative">
                    <div class="<%= progress_type %>-rate position-absolute"></div>
                  </div>
                <% end %>
              </div>
            </div>
            <form class="delete-playlist-form d-flex justify-content-center align-items-center">
              <input type="submit" value="Delete playlist" class="btn btn-danger ps-1 pe-1 pt-1 pb-1">
            </form>
          </li>
        <% end %>
      </ul>
    </div>
    <%# Playlist games %>
    <div class="col-4 playlist-sections">

      <ul class="playlist-content-containers playlist-games-list list-unstyled d-flex justify-content-center row-12 flex-wrap">
        <% @starting_playlist_games.each do |game| %>
          <li class="game-card card col-11 m-2 p-0 align-items-center d-flex flex-row" data-id="<%= game[:id] %>" data-owned-game-order="<%= game[:order] %>">
            <img src=<%= game.game ? game.game.image_url : game.dlc.image_url %> class="card-img img-fluid card-img-width" alt="...">
            <div class="d-flex m-0 p-0 ps-3 pe-2 flex-column card-info-dimensions ">
              <h6 class="card-info-item card-title m-0 p-0"><%= game.game ? game.game.name : game.dlc.name %></h6>
              <div class="checkboxes-container d-flex mt-2" data-id="<%= game[:id] %>">
                <div class="d-flex align-items-center card-info-item" >
                  <label for="completed<%= game[:id] %>" class="m-0 completed-text">Completed?</label>
                  <%= check_box_tag "completed#{game[:id]}", "t", game[:completed], class: "completed-checkbox ms-2 me-5"%>
                </div>
                <div class="d-flex align-items-center card-info-item ">
                  <label for="played<%= game[:id] %>" class="m-0 played-text">Started?</label>
                  <%= check_box_tag "played#{game[:id]}", "t", game[:played], class: "played-checkbox ms-2" %>
                </div>
              </div>
            </div>
            <form class="remove-game-from-playlist-form d-flex justify-content-center align-items-center" data-id="<%= game[:id] %>">
              <input type="submit" value="Remove" class="btn btn-danger ps-1 pe-1 pt-1 pb-1">
              <%= hidden_field_tag :id, game.id %>
            </form>
          </li>
        <% end %>
      </ul>
    </div>
    <%# Owned games %>
    <div class="col-4 playlist-sections d-flex flex-column align-items-center">
      <ul class="playlist-content-containers add-games-section row col-12 d-flex justify-content-center p-0 m-0">
        <% @owned_games.each do |game| %>
          <li class="add-game-card card col-9 m-2 p-0 align-items-center d-flex flex-row" data-id="<%= game[:id] %>" data-owned-game-order="<%= game[:order] %>">
            <img src=<%= game.game ? game.game.image_url : game.dlc.image_url %> class="add-game-img-width img-fluid" alt="...">
            <div class="add-game-text-div d-flex m-0 p-0 ps-3 pe-2 flex-column justify-content-center">
              <p class="add-game-text card-title m-0 p-0"><%= game.game ? game.game.name : game.dlc.name %></p>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <%= image_tag "green-add-button.png", class: "green-add-button" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
