<%= javascript_include_tag 'owned_games_list', 'data-turbo-track': 'reload', defer: true %>
<%= javascript_include_tag 'owned_games_filter_logic', 'data-turbo-track': 'reload', defer: true %>
<%= stylesheet_link_tag "cards", "data-turbo-track": "reload" %>

<div class="d-flex flex-column align-items-center">
  <%= link_to "Add a game", add_games_path, class: "btn btn-primary col-1 mt-3 ms-2" %>
  <div class="d-flex justify-content-center mt-3">
    <p class="filter-by-text m-0 me-2">Filter by:</p>
    <div class="filter-dropdown card ps-2 pe-2 d-flex flex-row align-items-center position-relative justify-content-between">
      <p class="m-0"><i class="filter-label-text">Select your filter</i></p>
      <p class="caret m-0"></p>
      <div class="filter-dropdown-options position-absolute top-100 opacity-0 start-0 mt-2 card">
        <div class="dropdown-options d-flex align-items-center">
          <p class="dropdown-options-text m-0 pt-1 pb-1 ps-2">Completed</p>
        </div>
        <div class="dropdown-options">
          <p class="dropdown-options-text m-0 pt-1 pb-1 ps-2">Not completed</p>
        </div>
        <div class="dropdown-options">
          <p class="dropdown-options-text m-0 pt-1 pb-1 ps-2">Played</p>
        </div>
        <div class="dropdown-options">
          <p class="dropdown-options-text m-0 pt-1 pb-1 ps-2">Not played</p>
        </div>
        <div class="dropdown-options">
          <p class="dropdown-options-text m-0 pt-1 pb-1 ps-2">Clear filter</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="games-list-body-container list-unstyled d-flex align-items-center justify-content-center row-12 flex-wrap">
  <% @owned_games.each do |game| %>
    <li class="game-card card col-md-4 col-10 d-flex flex-row m-2 p-0 align-items-center" data-id="<%= game[:id] %>">
      <img src=<%= game.image_url %> class="card-img img-fluid card-img-width" alt="...">
      <div class="d-flex m-0 p-0 ps-3 pe-2 flex-column card-info-dimensions ">
        <h6 class="card-info-item card-title m-0 p-0"><%= game.name %></h5>
        <div class="checkboxes-container d-flex justify-content-between mt-2">
          <div class="d-flex align-items-center card-info-item" >
            <label for="completed<%= game[:id] %>" class="m-0 completed-text">Completed?</label>
            <%= check_box_tag "completed#{game[:id]}", "t", game[:completed], class: "completed-checkbox ms-2", data: { id: game[:id] } %>
          </div>
          <div class="d-flex align-items-center card-info-item ">
            <label for="played<%= game[:id] %>" class="m-0 played-text">Have you even touched it?</label>
            <%= check_box_tag "played#{game[:id]}", "t", game[:played], class: "played-checkbox ms-2", data: { id: game[:id] } %>
          </div>
        </div>

      </div>
      <form action="/delete" class="delete-game-form d-flex justify-content-center align-items-center">
        <input type="submit" value="Remove" class="btn btn-primary ps-1 pe-1 pt-1 pb-1">
        <%= hidden_field_tag :id, game.id %>
      </form>
    </li>
  <% end %>
</ul>
