<%= javascript_include_tag 'owned_games_list', 'data-turbo-track': 'reload', defer: true %>
<%= stylesheet_link_tag "cards", "data-turbo-track": "reload" %>

<ul class="games-list-body-container list-unstyled d-flex flex-column align-items-center row">
  <%= link_to "Add a game", add_games_path, class: "btn btn-primary col-1" %>
  <% @owned_games.each do |game| %>
    <li class="card col-4 d-flex flex-row mt-2 p-0 align-items-center">
      <img src=<%= game.image_url %> class="card-img img-fluid card-img-width" alt="...">
      <div class="d-flex m-0 p-0 ps-3 pe-2 flex-column card-info-dimensions ">
        <h6 class="card-info-item card-title m-0 p-0"><%= game.name %></h5>

        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center card-info-item" >
            <p class="m-0 completed-text">Completed?</p>
            <%= check_box_tag :completed, "t", game[:completed], class: "completed-checkbox ms-2", data: { id: game[:id] } %>
          </div>
          <div class="d-flex align-items-center card-info-item ">
            <p class="m-0 played-text">Have you even touched it?</p>
            <%= check_box_tag :played, "t", game[:played], class: "played-checkbox ms-2", data: { id: game[:id] } %>
          </div>
        </div>

      </div>
      <form action="/delete" class="delete-game-form d-flex justify-content-center align-items-center">
        <input type="submit" value="Remove" class="btn btn-primary ps-1 pe-1 pt-1 pb-1">
        <%= hidden_field_tag :id, game.id %>
      </form>
    </li>
  <% end %>
</ul>
